/* sm */

@media (min-width: 768px) {
  .about img {
    margin-bottom: 4px;
  }

  .handshake {
    padding-top: 60px;
    padding-bottom: 36px;
  }

  .handshake h1 {
    margin-bottom: 24px;
    font-size: 96px;
  }

  .handshake p {
    font-size: 12pt;
  }

  .intro {
    /*padding: 40px 0;*/
  }

  .work {
    padding: 40px 0 48px 0;
  }

  .work .well {
    padding: 72px 72px;
  }

  .work img {
    height: 72px;
    /*margin-bottom: 72px;*/
  }

  .well i {
    font-size: 72px;
    /*margin-bottom: -1000px;*/
  }

  .well {
    padding: 60px;
  }

  .well h2 {
    font-size: 60px;
    margin-top: 42px;
  }



  .work .well p {
    font-size: 18px;
  }

  .xp {
    padding: 28px 0 28px 0;
  }

  .xp .btn {
    margin-top: 16px;
  }

  .skills {
    padding: 96px 0 48px 0;
  }

  .about {
    padding: 40px 0;
  }

  #past {
    padding-left: 16px;
  }
}

/* md */

@media (min-width: 992px) {

}

/* lg */

@media (min-width: 1200px) {

}
