html {
  position: relative;
  min-height: 100%;
}

body {
    /*padding-top: 50px; /*for navbar*/
    margin-bottom: 40px; /*for footer*/
    font-size: 11pt;
}

.container-fluid {
  padding: 0;
}

.container-nopad {
  padding: 0;
}

h1 {
  font-family: "bitter";
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 24pt;
}

h2 {
  font-family: "bitter";
  font-weight: 700;
  margin-bottom: 24px;
}

h3 {
  font-family: "bitter";
  font-weight: 400;
  margin-bottom: 24px;
}

h4 {
  font-weight: bold;
}

p {
  font-size: 11pt;
}

.btn {
  border-radius: 2px !important;
}

.caption {
  margin-top: -20px;
  margin-bottom: 16px;
  font-style: italic;
  color: #999;
}

.handshake {
  background-color: #5462C3;
  color: #fff;
}

.handshake p {
  font-family: "bitter";
  font-size: 11pt;
  margin-bottom: 40px;
}

.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Intro Section*/

.intro {
  background-color: #f2f2f2;
  width: 100%;
  padding: 20px 0px;
}

.intro li {
  margin: 12px;
}

.work a {
  font-size: 14pt;
}

.work img {
  float:left;
  padding: 0px;
  margin: 0;
  padding-right: 12px;
}

.work h3 {
  font-size: 14pt;
  vertical-align: middle;
  margin-bottom: 6px;
  margin-top: 0;
}

.work table {
  padding: 0;
  margin: 0;
  height: 130px;
}

.work td {
  padding: 0;
  margin: 0;
  /*padding-bottom: 20px;*/
}

.work tr {
  padding: 0;
  margin: 0;
}

.work p {
  font-size: 11pt;
  color: #999;
  font-style: italic;
  margin-bottom: 0;
  line-height: 120%;
}

/*Experience Section*/

.xp {
  background-color: #f2f2f2;
  height: 100%;
  margin-top: 24px;
}

.xp .container {
  padding-bottom: 18px;
}

.xp h1 {
  margin-top: 24px;
  margin-bottom: 16px;
}

.xp .note {
  color: #999;
  font-style: italic;
  margin-bottom: 6px;
}

.xp .detail {
  margin-bottom: 8px;
}

.xp .btn {
  margin-top: 8px;
  margin-bottom: 12px;
}

/* Skills Section */
.skills {
  background-color: #5462C3;
  height: 100%;
  padding-bottom: 32px;
  color: #fff;
}

.skills h3 {
  margin-bottom: 12px;
}

.skills p {
  line-height: 40px;
}

/* About Section */

.about {
  padding-bottom: 32px;
  background-color: #f2f2f2;
}

.about ul{
  margin-left: -4px;
}

.about li{
  margin: 8px 8px;
}

.about i{
  margin-right: 8px;
  color: #333;
}

.about img {
  float: left;
  padding: 0;
  margin: 0 12px 4px 0;
}


/* Contact */

.contact {
  background-color: #333;
  color: #fff;
  padding-bottom: 24px;
  padding-top: 18px;
}

.contact p {
  margin-bottom: 18px;
}

.contact a {
  margin: 0 4px;
  margin-bottom: 12px;
}

.footer {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 42px;
  background-color: #222;
}

.footer p{
  /*footer padding*/
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #666;
}




/************* ARTICLE ***************************/

.article .jumbotron {
    position: relative;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: #fff;
    margin-bottom: 24px;
    padding: 18px 0 12px 0;
}

/* Article Images */

#article-ta {
  background: #000 url("img/article_ta.jpg") center center;
}

#article-critter {
  background: #000 url("img/article_critter.jpg") center center;
}


#article-biz {
    background: #000 url("img/article_biz.jpg") center center;
}

#article-nhc {
    background: #000 url("img/article_nhc.jpg") center center;
}

#article-pl {
    background: #000 url("img/article_pl.png") center center;
}


.article .jumbotron h1 {
  line-height: 120%;
  margin-bottom: 10px;
}

.article .jumbotron p {
  font-size: 12pt;
  font-style: italic;
}

.article h2 {
  font-size: 20pt;
  margin-bottom: 16px;
  margin-top: 32px;
}

.article h3 {
  margin-bottom: 8px;
  margin-top: 28px;
}

.article img {
  margin: 12px 0px 24px 0px;
  /*border: 1px solid #ddd;*/
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.12);
/*  width: 100%;  */
/*  max-width: 640px; */
}

.article ul {
  margin-left: 27px; /*15 for container + ... */
}

.article li {
  margin-bottom: 8px;
}

.article blockquote {
  font-size: 12pt;
  margin-top: 16px;
  padding-bottom: 18px;
  background-color: #f5f5f5;
}

.research-qs li {
  margin: 12px 0;
  list-style: none;
}

.pdf {
  margin-bottom: 18px;
  height: 500px;
}

/* Other Work */

.otherwork p {
  text-align: center;
}

.otherwork {
  padding-bottom: 36px;
  background-color: #f7f7f7;
  width: 100%;
  overflow: hidden;
  margin-top: 24px;
}

.otherwork img {
  margin-bottom: 8px;
}





/*************  Custom Buttons  ******************/
.btn-linkedin {
  color: #ffffff;
  background-color: #0077B5;
  border-color: #0077B5;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
  color: #ffffff;
  background-color: #006399;
  border-color: #0077B5;
}

.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
  background-image: none;
}

.btn-linkedin.disabled,
.btn-linkedin[disabled],
fieldset[disabled] .btn-linkedin,
.btn-linkedin.disabled:hover,
.btn-linkedin[disabled]:hover,
fieldset[disabled] .btn-linkedin:hover,
.btn-linkedin.disabled:focus,
.btn-linkedin[disabled]:focus,
fieldset[disabled] .btn-linkedin:focus,
.btn-linkedin.disabled:active,
.btn-linkedin[disabled]:active,
fieldset[disabled] .btn-linkedin:active,
.btn-linkedin.disabled.active,
.btn-linkedin[disabled].active,
fieldset[disabled] .btn-linkedin.active {
  background-color: #0077B5;
  border-color: #0077B5;
}

.btn-linkedin .badge {
  color: #0077B5;
  background-color: #ffffff;
}


/*TWITTER*/
.btn-twitter {
  color: #ffffff;
  background-color: #55ACEE;
  border-color: #55ACEE;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #ffffff;
  background-color: #4C9DDB;
  border-color: #55ACEE;
}

.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  background-image: none;
}

.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #55ACEE;
  border-color: #55ACEE;
}

.btn-twitter .badge {
  color: #55ACEE;
  background-color: #ffffff;
}
